@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


.altashadow {
  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.4);
}

.altashadow-xl {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.7);
}

.altashadow-2xl {
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.9);
}


.inner-shadow {
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.18) inset;
}

.inner-shadow-xl {
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.6) inset;
}